body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #efebeb;
}

#main-screen {
    background-color: lightgray;
    border-bottom: 1px solid black;
    background-image: url('sut1.jpg');
    background-size: cover; /* More efficient background size */
    background-repeat: no-repeat; /* Ensure the image is not repeated */
    background-position: center; /* Center the image */
}
