body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #efebeb;
}

#main-screen {
    background-color: lightgray;
    border-bottom: 1px solid black;
    background-image: url('sut1.jpg');
    background-size: 100%;
}
